.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
 color: rgb(116, 207, 243);
 background-color: rgb(41, 43, 43);
 padding: 2%;
 margin: 2%;
}

.person{
  background-color: rgb(141, 179, 190);
  border: 3px solid rgb(95, 106, 109) ;
  border-radius: 20%;
  margin: 1%;
  padding: 2%;
}
